@font-face {
  font-family: gotham;
  src: url(images/gothamssm_light.otf);
}
.header-text {
  font-size: 14px;
}
.main-contents {
  font-family: gotham;
  font-weight: 900;
  margin: 0;
  z-index: 20;
}
.navig-bar {
  z-index: 100;
}
.content-button {
  padding: 8px 90px;
}
.content-button-container {
  padding-top: 380px;
}
.contents,
.contents-2 {
  font-size: 1.25rem;
  margin: 0;
  font-weight: bolder;
}
.contents-3 {
  font-size: 0.75rem;
  font-weight: 500;
  color: #393c41;
}
.mobile-image {
  top: 0;
  right: 0;
}
@media (max-width: 1024px) {
  .content-button-container {
    padding-top: 700px;
  }
  .nav-icons {
    display: none;
  }
}
@media (max-width: 440px) {
  .content-button-container {
    padding-top: 320px;
  }
  .footer-tags span {
    display: none;
  }
  .nav-icons {
    display: none;
  }
}
@media (max-width: 415px) {
  .nav-icons {
    display: none;
  }
}
@media (min-width: 576px) {
  .mobile-image {
    display: none;
  }
}
.footer {
  font-size: 0.6rem;
  background-color: black;
  margin: 0;
}
.footer p {
  font-family: sans-serif;
  margin: 0;
}
.tesla-button {
  font-family: sans-serif;
  padding: 12px 90px;
  background-color: rgb(17, 17, 17);
  border-top: 3.5px solid rgb(142, 142, 142);
  opacity: 0.7;
}
